In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.feature_selection import VarianceThreshold, SelectKBest, chi2
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
titanic_df = sns.load_dataset("titanic")

In [9]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [13]:
titanic_df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
titanic_df['age'].fillna(titanic_df['age'].median(), inplace=True)
titanic_df['embark_town'].fillna(titanic_df['embark_town'].mode()[0], inplace=True)
titanic_df['embarked'].fillna(titanic_df['embarked'].mode()[0], inplace=True)

In [16]:
label_encoders = {}
for column in ['sex', 'embarked']:
    label_encoders[column] = LabelEncoder()
    titanic_df[column] = label_encoders[column].fit_transform(titanic_df[column])

In [18]:
titanic_df['FamilySize'] = titanic_df['sibsp'] + titanic_df['parch'] + 1

In [20]:
X = titanic_df.drop('survived', axis=1)
y = titanic_df['survived']